/* dmc3844 = rgb(0,136,161) #0088A1 Dark Bright Turquoise
   dmc946 = rgb(193,75,30)  #C14B1E Med Burnt Orange
   dmc742 = rgb(243,162,48) #F3A230 tangerine LT
   dmc355 = rgb(109,27,22) #6D1B16 Terra Cotta DK
   dmc740 = rgb(219,100,0) #DB6400 Tangerine
   dmc3766 = rgb(24,101,111) #90BEC1 Peacock Blue LT
   dmc725 = rgb(238,175,66) #EEAF42 Med Light Topaz
   dmc920 = rgb(135,49,19 ) #873113 Copper MD

Happy Ordinary Day Palette from stitchpalettes.com
   dmc08 = rgb(106,80,70)  #6A5046 Dark Driftwoood
   dmc642 = rgb(164,152,120) #A49878 Dark Beige Gray
   dmc3021 = rgb(79,75,65) #4F4B41 Very Dark Brown
   dmc3790 = rgb(127,106,85) #7F6A55 Ultra Dark Beige Gray
   dmc3813 = rgb(178,212,189) #B2D4BD Light Blue Green

 */

body {
    font-family: 'Mali', cursive;
    background-color: rgb(164,152,120);
}

p {
  text-align: center;
}

.navbar-nav {
  background-color: #B2D4BD;
  /* width: 100vw; */
  height: 80px;
  margin: 0;
  border: 3px solid #7F6A55;
}

.navbar-brand {
  float: left;
  font-style: italic;
  font-weight: 600;
  color: #7F6A55;
  padding-left: 10px;
  justify-content: space-around;
}

.nav-item {

}

.nav-link {
  justify-content: space-around;
}

.main {
  width: 100%;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
}

.d-flex {
  justify-content: center;
}

.flex-row {
  width: 100%;
  padding: 0px;
  display: flex;
  /* align-items: center; */
}

.card {
  width: 320px;
}

.table {
  width: 260px;
}

th {
  justify-content: space-around;
}

.box {
  border: 1px solid black;
  position: relative;
  margin: 3px;
}

.box-filler{
  border: none;
  position: relative;
  margin: 3px;

}

#box-horizontal{
  height: 70px;
  width: 150px;
}

#box-vertical {
  height: 150px;
  width: 70px;
}

#box-square{
  height: 70px;
  width: 70px;
}

#box-long {
  height: 70px;
  width: 460px;
}

.button{
  background-color: #B2D4BD;
  height: 40px;
  width: 100px;
  margin: 20px;
  border: 2px solid #7F6A55;
}
