/* dmc3844 = rgb(0,136,161) #0088A1 Dark Bright Turquoise
   dmc946 = rgb(193,75,30)  #C14B1E Med Burnt Orange
   dmc742 = rgb(243,162,48) #F3A230 tangerine LT
   dmc355 = rgb(109,27,22) #6D1B16 Terra Cotta DK
   dmc740 = rgb(219,100,0) #DB6400 Tangerine
   dmc3766 = rgb(24,101,111) #90BEC1 Peacock Blue LT
   dmc725 = rgb(238,175,66) #EEAF42 Med Light Topaz
   dmc920 = rgb(135,49,19 ) #873113 Copper MD

Happy Ordinary Day Palette from stitchpalettes.com
   dmc08 = rgb(106,80,70)  #6A5046 Dark Driftwoood
   dmc642 = rgb(164,152,120) #A49878 Dark Beige Gray
   dmc3021 = rgb(79,75,65) #4F4B41 Very Dark Brown
   dmc3790 = rgb(127,106,85) #7F6A55 Ultra Dark Beige Gray
   dmc3813 = rgb(178,212,189) #B2D4BD Light Blue Green

 */

body {
    font-family: 'Mali', cursive;
    background-color: rgb(164,152,120);
}

p {
  text-align: center;
}

h1, h2, h3, h4 {
  margin-bottom: 5px;
  font-weight: 600;
}

.navbar {
  width: 100%;
  height: 80px;
  margin: 0;
  background-color: #B2D4BD;
  border: 3px solid #7F6A55;
}

.navbar-nav ul{
  justify-content: flex-end;
}

.navbar-nav li {
  padding: 10px;
}

.navbar-brand {
  float: left;
  font-style: italic;
  font-weight: 600;
  color: #7F6A55;
  padding-left: 10px;
  justify-content: space-around;
}

.nav-item {
  list-style-type: none;
  padding: 5px;
  float: right;
}

.nav-link {
    justify-content: space-around;
}

.main {
  width: 100%;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
}

.d-flex {
  justify-content: center;
}

.flex-row {
  width: 100%;
  padding: 0px;
  display: flex;
}

.table {
  width: 540px;
  padding: 10px;
}

.table thead {
  font-weight: 600;
}

.table table td th {
  padding: 5px;
}

.table td{
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.box {
  border: 1px solid black;
  position: relative;
  margin: 3px;
}

.box-filler{
  border: none;
  position: relative;
  margin: 3px;

}

#rectangleFrame {
  border: 1px solid black;
  padding: 3px;
  height: 1015px;
  width: 473px;;
}

#box-horizontal{
  height: 70px;
  width: 150px;
}

#box-vertical {
  height: 150px;
  width: 70px;
}

#box-square{
  height: 70px;
  width: 70px;
}

#box-long {
  height: 70px;
  width: 460px;
}

.button{
  background-color: #B2D4BD;
  height: 40px;
  width: 100px;
  margin: 20px;
  border: 2px solid #7F6A55;
}
